##Spring Properties
spring:
  jackson:
    deserialization:
      fail-on-null-for-primitives: false
  datasource: ##Datasource Properties
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa: ##JPA Properties
    properties:
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate:
        format_sql: true
        generate_statistics: false
    open-in-view: false
    generate-ddl: true
    hibernate:
      ddl-auto: validate
    show-sql: false

##Logging Properties
logging:
  level:
    sql: info
    root: info
    web: info

##Server Configuration
server:
  port: 8085
