##Spring Properties
spring:
  datasource: ##Datasource Properties
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa: ##JPA Properties
    database: postgresql
    properties:
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate:
        temp.use_jdbc_metadata_defaults: false
        format_sql: true
        generate_statistics: false
    open-in-view: false
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true

##Logging Properties
logging:
  level:
    sql: debug
    root: info
    web: debug

##Server Configuration
server:
  port: 8085
